/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
  background: #212121;
  font-size:22px;
  line-height: 32px;
  color: #ffffff;
  word-wrap:break-word !important;
  font-family: 'Open Sans', sans-serif;
  }


a {
  color: #FFF;
}

#container {
  margin: 0 auto;
}

/* Giving a background-color to the nav container. */
#menu { 
  margin: 0px 0;
  background-color: #E64A19;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

#menu:after {
  content:"";
  display:table;
  clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
#menu ul {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  }
  
/* Positioning the navigation items inline */
#menu ul li {
  margin: 0px;
  display:inline-block;
  float: left;
  background-color: #E64A19;
  }

/* Styling the links */
#menu a {
  display:block;
  padding:0 10px; 
  color:#FFF;
  font-size:10px;
  line-height: 20px;
  text-decoration:none;
}

/* Background color change on Hover */
#menu a:hover { 
  background-color: #000000; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
#menu ul ul {
  display: none;
  position: absolute; 
  /* has to be the same number as the "line-height" of "nav a" */
  top: 40px; 
}
  
/* Display Dropdowns on Hover */
#menu ul li:hover > ul {
  display:inherit;
}
  
/* Fisrt Tier Dropdown */
#menu ul ul li {
  width:400px;
  float:none;
  display:list-item;
  position: relative;
}

/* Second, Third and more Tiers 
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
#menu ul ul ul li {
  position: relative;
  top:-40px;
  /* has to be the same number as the "width" of "nav ul ul li" */ 
  left:400px; 
}

  
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }